<% unless @overdue.empty? %>
  <div id="overdue">
    <h2>Overdue</h2>
    <%= render :partial => "task_list", :locals => { :tasks => @overdue } %>
  </div>
<% end %> 

<% unless @todo.empty? %>
  <div id="todo">
    <h2>Todo</h2>
    <%= render :partial => "task_list", :locals => { :tasks => @todo } %>
  </div>
<% end %>

<% unless @completed.empty? %>
  <div id="completed">
    <h2>Completed</h2>
    <%= render :partial => "task_list", :locals => { :tasks => @completed } %>
  </div>
<% end %>

<%= link_to 'New', new_task_path, class: 'btn btn-primary' %>
